body {
  color: grey;
  font-size: 20px;
  font-family: century;
  background-color: rgb(140, 156, 146);
  background-repeat: repeat;
}
h1 {
  color: rgb(50, 87, 93);
  font-size: 42px;
  font-family: helvetica;
}

h2 {
  color: rgb(189, 171, 190);
  font-size: 36px;
  font-family: helvetica;
}
p {
  color: rgb(226, 169, 161);
}
a:hover {
  text-decoration: none;
  color: green;
  font-size: 22px;
}
#col1 {
  text-align: center;
}
