body {
  color: grey;
  font-size: 20px;
  font-family: century;
  background-color: rgb(50, 87, 93);
  background-repeat: repeat;
  overflow: hidden;
}
h1 {
  color: rgb(190, 138, 74);
  font-size: 42px;
  font-family: helvetica;
  animation-name: slide-right;
  animation-duration: 3s;
}

h2 {
  color: rgb(150, 115, 152);
  font-size: 36px;
  font-family: helvetica;
  animation-name: slide-left;
  animation-duration: 3s;
}
p {
  color: rgb(226, 169, 161);
}
a:hover {
  text-decoration: none;
  color: rgb(136, 67, 68);
  font-size: 20px;
  background-color: rgb(244, 244, 244, 0.3);
}

#col1 {
  text-align: center;
}

@keyframes slide-right {
  from {
    margin-left: 100%;
    width: 500%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-left {
  from {
    margin-left: -150%;
    width: 0%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
